body {
  background-image: url("/media/flowers.jpg");
  text-align: center;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Shippori Mincho', serif;
  font-family: 'Uchen', serif;
}
.container {
  position: relative;
  padding: 0px;
  margin: 100px auto;
}
.weather-app {
  text-align: center;
  background-color: #FFFEF6;
  opacity: .94;
  padding: 30px;
  margin-top: 150px;
}


form {
  margin-bottom: 20px; 
  text-align: right;
}
#city-input {
  font-size: 18px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #FFFEF6;
  color: #596D4A;
  text-align: right;
  letter-spacing: 1.75px;
}
button {
  width: 50px;
  height: 40px;
  border: none;
  color: #596D4A;
  background-color: #FFFEF6;
}
button :hover{
  color: #F49E85;
}


h1 {
  color: #879855;
  font-size: 80px;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 6px;
}
h5 {
  color: #F49E85;
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
h4 {
  color: #596D4A;
  margin: 0 auto;
  line-height: 2;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.main {
  margin: 25px 0px 25px 0px;
  border-bottom: 2px solid #879855;
  letter-spacing: 1px;
}
#temperature {
  color: #F49E85;
  font-size: 90px;
  font-weight: 400;
  padding: 0px;
  width: 25%;
  margin: 25px 0px 25px 0px;
}
#icon {
  color: #F49E85;
  font-size: 90px;
  font-weight: 400;
  padding: 0px;
  width: 25%;
  margin: 25px 0px 25px 0px;
}
#details {
  border-left: 2px solid #879855;
  margin: 25px 0px 25px 0px;
  height: 150px;
}
td {
  width: 250px;
  padding: 7px;
  line-height: 1;
}
.top {
  font-size: 17px;
  color: #596D4A;
}
.bottom {
  font-size: 15px;
  color: #F49E85;
}

.forecast {
  margin: 25px 0px 25px 0px;
  padding: 7px;
}
.col {
  width: 100px;
  line-height: 2;
}


footer {
  text-align: center;
  font-size: 12px;
  color: #F49E85;
  letter-spacing: 1.5px;
}
footer a { 
  color: #F49E85;
  text-decoration: none;
}
footer a:hover {
  color: #596D4A;
}


