body {
  background-image: url("/media/flowers.jpg");
  text-align: center;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Shippori Mincho', serif;
  font-family: 'Uchen', serif;
}
.container {
  position: relative;
  padding: 0px;
  margin: 100px auto;
}
.weather-app {
  text-align: center;
  background-color: #FFFEF6;
  opacity: .94;
  padding: 30px;
  margin-top: 150px;
}



form {
  margin-bottom: 20px; 
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
#city-input {
  font-size: 18px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #FFFEF6;
  color: #596D4A;
  text-align: right;
  letter-spacing: 1.75px;
}
button {
  width: 50px;
  height: 40px;
  border: none;
  color: #596D4A;
  background-color: #FFFEF6;
}
button :hover {
  color: #F5A187;
}


h1 {
  color: #879855;
  font-size: 80px;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 6px;
}
h5 {
  color: #F5A187;
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
h4 {
  color: #596D4A;
  margin: 0 auto;
  line-height: 2;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}


.main-row {
  margin: 0px 0px 25px 0px;
  border-bottom: 2px solid #879855;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-evenly;
}
#temperature {
  color: #F5A187;
  font-size: 90px;
  padding: 45px 30px 35px 30px;
  width: 25%;
  margin: 25px 0px 25px 0px;

}
#icon {
  padding: 35px 30px;
  width: 25%;
  margin: 25px 0px 25px 0px;
  opacity: .70;
}
img {
  margin: 25px 0px 25px 0px;
}
#details {
  border-left: 2px solid #879855;
  width: 50%;
  margin: 25px auto;
  padding: 45px 30px 35px 30px;

}
td {
  width: 250px;
  padding: 7px;
  line-height: 1;
  font-size: 16px;
}
.top {
  font-size: 18px;
  color: #596D4A;
}
.bottom {
  font-size: 16px;
  color: #F5A187;
}

#forecast {
  width: 100%;
  margin: 25px 0px 0px 0px;
  padding: 0px 30px 0px 30px;
}
.col {
  width: 100px;
  line-height: 2;
  padding: 0;
}
 

footer {
  text-align: center;
  font-size: 12px;
  color: #F5A187;
  letter-spacing: 1.5px;
}
footer a { 
  color: #F5A187;
  text-decoration: none;
}
footer a:hover {
  color: #596D4A;
}


@media screen and (max-width: 800px) {
  form {
    justify-content: center;
  }
  h1 {
    font-size: 70px;
  }
  #temperature {
    font-size: 65px;
    padding: 35px 6px;
    width: 50%;
    border-right: 2px solid #879855;
  } 
  #icon {
    padding: 0px;
    width: 50%;
    height: 50%;
  }
  #details {
    display: none;
  }
  table {
    display: flex;
    justify-content: center;
  }
  td {
    font-size: 14px;
  }
}
